<div class="text-center">
    <h1 class="text-info pt-4">Поздравляем! Ваш заказ оформлен.</h1>
    <p class="pb-3">Мы получили ваш платеж, и ваш заказ будет обработан в ближайшее время!</p>
    <img src="/images/order.PNG" width="80%" />
</div>